<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MusicBackup.ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="WARN" />
          <levelMax value="FATAL" />
        </filter>
      </appender>
      <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="backup.log" />
        <appendToFile value="false" />
        <maximumFileSize value="10MB" />
        <maxSizeRollBackups value="5" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="INFO" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="ConsoleAppender" />
      </root>
    </log4net>
    <applicationSettings>
        <MusicBackup.ConsoleApp.Properties.Settings>
            <setting name="Source" serializeAs="String">
              <value>\\192.168.0.1\Music\Soundtrack\</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>C:\MP3_BACKUP</value>
            </setting>
            <setting name="NbCores" serializeAs="String">
                <value>0</value>
            </setting>
        </MusicBackup.ConsoleApp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
